.form {
    display: flex;
    justify-content: center;
    align-items: center;

}

.font-color {
    color: white;
}

.country {
    padding-top: 20px;
    width: 200px;
}
.city {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 200px;
}