.Header {
    display: flex;
    justify-content: center;
    align-items: center;
    color: White;
    
}

div.Header {
    content:url(Umbrella.png);
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}