p {
    color: white;
    display: flex;
    justify-content: center;
}

.results {
    margin-top: 10px;
    margin-bottom: 100px;
}

h3 {
    color: white;
    display: flex;
    justify-content: center; 
}